body {
  font-family: "Roboto", sans-serif;
  background-color: #ffffff;
  color: #434455;
}

/*reset*/

* {
  margin: 0;
  padding: 0;
  list-style: none;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
a {
  text-decoration: none;
}

/*header*/

.header {
  border-bottom: 1px solid #e7e9fc;
  background: #fff;
}
.header-flex {
  padding: 24px 0;
  display: flex;
  align-items: center;
}
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  color: #4d5ae5;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
}
.logo-design {
  color: #2e2f42;
}
.nav {
  display: flex;
  align-items: center;
}
.logo {
  margin-right: 76px;
}
.nav-list,
.contacts-list {
  display: flex;
  align-items: center;
  gap: 40px;
}
.nav-links {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-decoration: none;
}
.nav-links:hover,
.nav-links:focus {
  color: #404bbf;
}
.contacts {
  font-style: normal;
  margin-left: auto;
}

.contacts-links {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.contacts-links:hover,
.contacts-links:focus {
  color: #404bbf;
}

/*order-section*/

.order {
  background-color: #2e2f42;
  padding-bottom: 188px;
}

.order-title {
  max-width: 496px;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: #ffffff;
  margin: 0 auto;
  padding-top: 188px;
  margin-bottom: 48px;
}
.order-button {
  border-radius: 4px;
  width: 169px;
  height: 56px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  background-color: #4d5ae5;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  display: block;
  margin: 0 auto;
}
.order-button:hover,
.order-button:focus {
  background-color: #404bbf;
  cursor: pointer;
}

/*about-section*/

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.about-list {
  list-style-type: none;
  display: flex;
  gap: 24px;
  padding: 120px 0;
}
.container {
  max-width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
.about-name {
  margin-bottom: 8px;
}

.about-name,
.team-name,
.portfolio-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.about-text,
.team-text,
.portfolio-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.team-title,
.portfolio-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-transform: capitalize;
}
.team {
  background-color: #f4f4fd;
}
.team-title {
  padding-top: 120px;
  margin-bottom: 72px;
}
.team-list {
  display: flex;
  align-items: center;
  gap: 24px;
  padding-bottom: 120px;
}
.team-item {
  background-color: #ffffff;
  border-radius: 0 0 4px 4px;
}
.team-card-content {
  padding: 32px 16px;
  text-align: center;
}
.team-name {
  text-align: center;
  margin-bottom: 8px;
}
.portfolio {
  background-color: #ffffff;
}
.footer {
  background-color: #2e2f42;
}
.footer-logo-design {
  color: #f4f4fd;
}
.footer-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}
